html {
    font-size: 100%;
}
body {
    /* background-color: #FFFFCC; */
    /* margin-left: 1.25rem; */
    padding: 1.00rem;
}
header {
    display: flex;
    justify-content: space-between;
}
header h2 {
    margin-right: 43.75rem;
}
header img {
    width: 20%;
}
nav {
    display: flex;
    flex-direction: column;
}
nav ul  {
   display: flex;
   /* height: 4.0625rem; */
   align-items: center;
   background-color: black;
   list-style  : none;
}
nav ul li {
    padding: 0.3125rem;
}
nav ul li a {
    color: white;

}
.promotion img {
    width: 100%;
    /* height: 18.4375rem; */
}
h1 {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
section {
    display:flex ;
    flex-wrap: wrap;
    align-items: flex-start;
}
hr {
    width: 100%;
    border: 1px solid #ccc;
}

.article {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside {
    flex: 1;
    background-color: gray;
    padding: 10px;
}
.colonne {
    height: 28.75rem;
    width: 18.75rem;
}
footer {
    display: flex;
    flex-direction: column;

}
footer ul  {
   display: flex;
   height: 4.0625rem;
   align-items: center;
   background-color: black;
   list-style  : none;
}
footer ul li {
    padding: 0.3125rem;
}
footer ul li a {
    color: white;

}
/* tableau page */
table img {
    max-width: 6.25rem;
}
/* breakpoint 768 ? */
@media (max-width: 768px) {
    header h2 {
        margin-right: auto;
    }
    aside {
        display: none;
    }
    nav ul {
        flex-direction: column;
        /* height: 4.100rem; */
    }
    /* la taille de ul est trop petit pour tout les li que faire ? */
    p h1 h2 {
        font-size: 16px;
    }
}